$browser--banner-padding: 0.5rem;
$browser--banner-font: 0.75rem;
$browser--banner-height: 2 * $browser--banner-padding + $browser--banner-font;

.browser {
  height: 100%;
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 5rem 2rem rgba(0, 0, 0, 0.05);
}

.browser--banner {
  margin: auto;
  background: linear-gradient(to right, purple, indigo);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: $browser--banner-padding;
  font-size: $browser--banner-font;
  text-align: right;
}

.browser--close {
  cursor: pointer;
  color: white;
}

.browser--app {
  border: 0;
  display: flex;
  margin: auto;
  height: calc(2 * (100% - #{$browser--banner-height}));
  width: 200%;
  transform: scale(0.5, 0.5);
  transform-origin: top left;
}

// .ReactModal__Content {
//   top: 10% !important;
//   left: 10% !important;
//   right: 10% !important;
//   bottom: 10% !important;
// }

@media only screen and (max-width: 720px) {
  .browser--app {
    height: calc(1.33 * (100% - #{$browser--banner-height}));
    width: 133.33%;
    transform: scale(0.75, 0.75);
  }
  .ReactModal__Content {
    top: 10% !important;
    left: 10% !important;
    right: 10% !important;
    bottom: 10% !important;
  }
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}
