$card-radius: 1rem;

.card {
  max-width: 72rem;
  width: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: $card-radius;
}

.card:hover {
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-overlay {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s;
  border-radius: $card-radius;
  z-index: 2;
}

.card-overlay__hide {
  opacity: 0;
  transition: opacity 0.3s;
}

.card-overlay-contents {
  max-width: 36rem;
  margin: auto;
  color: white;
}

.card-overlay-button {
  background-color: transparent;
  border: 0.1rem solid black;
  padding: 1.6rem;
  margin: 0.8rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 5;
  transition: background-color 0.3s;
}

.card-overlay-button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s;
}

.card-container {
  display: flex;
  justify-content: center;
}

.placeholder-image {
  max-width: 72rem;
  width: 100%;
  height: 40rem;
  border-radius: $card-radius;
}

.image {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: $card-radius;
}

@media only screen and (max-width: 600px) {
  .card-overlay-contents h1 {
    font-size: 2.4rem;
  }
  .card-overlay-button {
    background: transparent;
    border: 0.1rem solid white;
    padding: 1.2rem;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }
  .card-overlay {
    border-radius: $card-radius / 2;
  }
  .card {
    border-radius: $card-radius / 2;
  }
  .placeholder-image {
    max-width: 72rem;
    width: 100%;
    height: 24rem;
    border-radius: $card-radius / 2;
  }
  .placeholder-image {
    border-radius: $card-radius / 2;
  }
  .image {
    border-radius: $card-radius / 2;
  }
}
