.end {
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: opacity 1s;
}

.end-container {
  padding: 2rem;
}

.end-button {
  background-color: transparent;
  padding: 1.4rem;
  margin: 1.4rem;
  display: inline-block;
  border: 0.3rem solid $primary-color;
  text-transform: uppercase;
  color: $primary-color;
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
}

.end-button:hover {
  background-color: $primary-color;
  color: white;
  transition: color 0.3s, background-color 0.3s;
}

.end-statement {
  // color: $secondary-color;
}

.heart-end {
  color: $primary-color;
  transform: rotateY(0deg);
  display: inline-block;
  animation: rotating-heart 5s ease-in-out 0s infinite;
}

@keyframes rotating-heart {
  0% {
    transform: rotateY(0deg);
    color: $primary-color;
  }
  40% {
    transform: rotateY(0deg);
    color: $primary-color;
  }
  50% {
    transform: rotateY(180deg);
    color: $secondary-color;
  }
  90% {
    transform: rotateY(180deg);
    color: $secondary-color;
  }
  100% {
    transform: rotateY(0deg);
    color: $primary-color;
  }
}
