.helper {
  position: fixed;
  bottom: 2.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.helper-bar {
  height: 1rem;
  background: #4d036e;
  width: 20rem;
  border-radius: 100px;
  cursor: pointer;
}
