.landing {
  min-height: calc(100vh - 7rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 100%;
}

.landing-content {
  padding: 2rem;
  transition: opacity 1s;
}

.accent {
  background-image: linear-gradient(
    80deg,
    $primary-color,
    lighten($secondary-color, 20%)
  ); /* Standard syntax; must be last */
  background-image: -webkit-linear-gradient(
    80deg,
    $primary-color,
    lighten($secondary-color, 20%)
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    80deg,
    $primary-color,
    lighten($secondary-color, 20%)
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    80deg,
    $primary-color,
    lighten($secondary-color, 20%)
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    80deg,
    $primary-color,
    lighten($secondary-color, 20%)
  ); /* For old Opera (11.1 to 12.0) */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*

Sea of marbles
https://unsplash.com/photos/PO8Woh4YBD8
https://images.unsplash.com/photo-1518640467707-6811f4a6ab73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2900&q=80

The Order of Chaos
https://unsplash.com/photos/k8apfKm-Md4
https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=80

Abstract fluid art
https://unsplash.com/photos/FWhTeWRCeis
https://images.unsplash.com/photo-1504221507732-5246c045949b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80

*/
$background-url: "https://res.cloudinary.com/xielabs/image/upload/v1544831416/background.jpg";
$clip-color: rgba(13, 74, 96, 0.5); //transparent;// rgba(0,0,0,0.2);
.hero {
  font-size: 6.4rem;
  font-weight: 700;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0.67em auto;
  background: url($background-url);
  background-repeat: repeat-y;
  color: $clip-color;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: center top;
  animation-name: scroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scroll {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.title {
  text-align: center;
  padding: 2rem;
}

.heart {
  color: $secondary-color;
  font-size: 2.4rem;
  vertical-align: middle;
}

.landing-statement {
  cursor: pointer;
  width: fit-content;
  margin: 2rem auto;
  transition: color 0.3s, transform 0.3s;
}

.landing-statement:hover {
  color: $secondary-color;
  transform: scale(1.1);
  transition: color 0.3s, transform 0.3s;
}

.heart-alt {
  width: 0px;
  display: inherit;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.67em;
  }
  .hero {
    font-size: 4.8rem;
  }

  .landing {
    min-height: calc(100vh - 20rem);
    top: 0;
  }
  .heart {
    font-size: 2rem;
  }
}
