.landing {
  min-height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  width: 100%;
}

.landing-content {
  padding: 2rem;
}

.hero {
  font-size: 6.4rem;
  font-weight: 700;
  color: #4d036e;
}

.majestic {
  color: #4d036e;
}

.title {
  text-align: center;
  padding: 2rem;
}

.heart {
  font-size: 2.4rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.67em;
  }
  .hero {
    font-size: 3.6rem;
  }

  .landing {
    min-height: calc(100vh - 20rem);
  }
  .heart {
    font-size: 1.6rem;
  }
}
