$project-size: 15rem;

.project-title {
  background: linear-gradient(45deg, rgb(0, 0, 0), #7815a9);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  // color: #4d036e;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
}

.project-details {
  justify-content: center;
}

.project-link {
  margin: auto 1rem;
  text-decoration: none;
  color: #5a0078;
  opacity: 1;
  transition: opacity 0.3s;
}

.project-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}
