.social-img {
  transition: transform 0.3s;
  font-size: 5rem;
  color: #4d036e;
}
.social-img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

@media only screen and (max-width: 600px) {
  .social-img {
    font-size: 4rem;
  }
}