@import "./base/settings";
@import "./base/base";

@import "./components/_browser.scss";
@import "./components/_header.scss";

@import url('https://fonts.googleapis.com/css?family=Merriweather:900');

body {
  background: #fff;
  font-family: 'Merriweather', serif;
}

.card {
  text-align: center;
  margin: 8rem;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 30rem;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container {
  max-width: 72rem;
  margin: auto auto;
}