@import "./base/settings";
@import "./base/base";

@import "./components/_card.scss";
@import "./components/_landing.scss";
@import "./components/_social.scss";
@import "./components/_projects.scss";
@import "./components/_end.scss";
@import "./components/_helper.scss";

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.back {
  position: fixed;
  margin: 2rem;
  text-decoration: none;
  color: black;
  font-size: 2.4rem;
  cursor: pointer;
}

.button {
  background-color: transparent;
  padding: 1.4rem;
  margin: 1.4rem;
  display: inline-block;
  border: 0.3rem solid #3469a2;
  text-transform: uppercase;
  color: #3469a2;
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  background-color: #3469a2;
  color: white;
  transition: color 0.3s, background-color 0.3s;
}

@media only screen and (max-width: 600px) {
}
